.profile {
    width: 300px;
    text-align: center;
    background-color: #ffffff;
    padding-top: 5px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}

.avatar {
    margin: 25px auto;
    width: 100px;
}

.name {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}

.tag {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #757575;
}

.location {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #757575;
}

.stats {
    display: flex;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 3);
    padding: 20px;
    background-color: #afb1b8;
    border: 0.5px solid grey;
}

.label {
    margin-bottom: 10px;
    font-size: 15px;
    color: black;
}

.quantity {
    font-weight: bold;
    font-size: 15px;
}